# Database Configuration
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Backend Configuration
BACKEND_PORT=8081
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/cafe_pos
SPRING_JPA_HIBERNATE_DDL_AUTO=update
BAKONG_API_URL=https://api-bakong.nbc.gov.kh/v1/check_transaction_by_md5
BAKONG_API_TOKEN=
BAKONG_MERCHANT_CITY=Phnom Penh
BAKONG_KHQR_EXPIRATION_MINUTES=5
JWT_SECRET=
JWT_EXPIRATION=86400000
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Frontend Configuration
FRONTEND_PORT=3000
NUXT_PUBLIC_API_BASE=http://localhost:8081
# Internal API URL for Server Side Rendering
NUXT_API_BASE_INTERNAL=http://backend:8081
